@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes'), url(fonts/TTLakes-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes'), url(fonts/TTLakes-Medium.ttf);
    font-weight: 500;
    font-style: bolder;
    font-display: swap;
}

@font-face {
    font-family: 'TT Lakes';
    src: local('TT Lakes'), url(fonts/TTLakes-Bold.ttf);
    font-weight: 700;
    font-style: bold;
    font-display: swap;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'TT Lakes', sans-serif;
    font-size: 14px;
    background-color: #F8F8F8;
    font-weight: 400;
    max-width: 1120px;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.header__icons_container {
    display: flex;
    background-color: #FF3E79;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
}

.header__icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 88px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 #D9FFF5;
}

.header__icons_left-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    flex-grow: 1;
}

.header__icons_right-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    flex-grow: 1;
}

.header__icons_cps-logo {
    position: relative;
    align-self: center;
    background-color:transparent;
}

.header__icons_cps-logo::after {
    content: "";
    position: absolute;
    left: 110px;
    top: 10px;

    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
}

.header__title {
    position: relative;

    font-size: 28px;
    letter-spacing: -0.6px;
    line-height: 40px;
    margin: 0 0 32px 16px;
    font-weight: 700;
    color: #1B1C21;
}

.header__title:before {
    position: absolute;

    content: "";
    width: 4px;
    height: 40px;
    top: 0;
    left: -16px;
    background-color: #41F6D7;
    border-radius: 0 10px 10px 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    
    gap: 24px;
}

.main__nav {
    height: 40px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin: 0;
    overflow-x: auto;
    white-space: nowrap;
    padding-left: 16px;
    row-gap: 10px;
    
}

ul>li {
   padding: 8px 16px;
   font-size: 16px;
   font-weight: 500;
}

li>a {
    color: #7E7E82;
}

ul>li:hover,
ul>li:focus {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background: #fff;
    padding: 6px 14px;
}

::-webkit-scrollbar {
    display: none;
}

.main__info {
    display: flex;
    flex-direction: column;
}

.main__text_text-paragraph {
    padding: 0 16px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    height: 90px;
    overflow: hidden;
    margin: 0;
}

.main__button_read-more {
    display: block;
    margin-left: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2;
    color: #1B1C21;
}

.read-more_icon {
    padding-right: 16px;
}

.main__image {
    margin-left: 0;
}

.main__image img {
    height: 230px;
    width: 320px;
}

@media (min-width: 768px) {
    .header__icons_right-side_hidden {
        display: contents;
    }

    .header__icons_left-side {
        justify-content: flex-start;
        gap: 40px;
        padding: 0 24px;
    }

    .header__icons_cps-logo::after {
        left: -20px;
    }

    .header__icons_right-side {
        justify-content: flex-end;
        gap: 16px;
        padding: 0 24px;
    }

    .header__icons_profile {
        margin-right: 24px;
        position: relative;
    }

    .header__icons_profile::after {
        content: "";
        position: absolute;
        left: 60px;
        top: 5px;
        content: "";

        width: 2px;
        height: 32px;
        border-radius: 1px;
        background-color: #eaeaea;
    }

    .header__title  {
        margin-left: 24px;
    }

    .header__title:before {
        left: -24px;
    }

    .main-container {
        padding-left: 24px;
    }

    ul {
        padding: 0;
    }

    .main__info {
        flex-direction: row;
        gap: 24px; 
    }

    .main__text_text-paragraph {
        padding: 0;
        margin-block: 0;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1B1C21;
        height: 160px;
    }

    .main__image {
        margin-right: 25px;
    }

    .main__image img {
        border-radius: 6px;
        height: 259px;
        width: 360px;
    } 

    .main__button_read-more {
        margin-top: 1em;
    }
}

@media (min-width: 1120px) {
    .header__icons_right-side_hidden {
        display: none;
    }

    .header {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        padding-top: 21px;
    }

    .header__icons {
        box-shadow: none;
    }

    .header__icons_with-text {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .header__icons_with-text span {
        display: flex;
        letter-spacing: -0.2px;
        color: #1B1C21;
        font-weight: 500;
        font-size: 16px;
        white-space: nowrap;
    }


    .header__icons_left-side {
        display: none;
    }

    .header__icons_right-side {
        justify-content: flex-end;
        background-color:#F8F8F8;
        gap: 32px;
        padding: 0;
    }

    .header__title  {
        margin: 0 0 0 33px;
    }

    .header__title:before {
        left: -33px;
    }

    .main-container {
        padding-left: 34px;
    }

    .main__text_text-paragraph {
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #1B1C21;
    }

    .main__nav {
        height: 82px;
    }

    ul {
        padding-left: 0;
        flex-wrap: wrap;
    }

    .main__info {
        gap: 36px;
    }

    .main__image {
        margin-right: 25px;      
    }

    .main__image img {
        border-radius: 6px;
        height: 307px;
        width: 531.35px;
    }

    
    
}